#header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img{
    max-height: 70px;
    cursor: pointer;
  }
  svg{
    height: 2.5rem;
    cursor: pointer;
  }
}
